<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
    {% block content %}
    {% endblock content %}
    {% for video in video_list %}
        <p>{{ video.title }}</p>
        <span class="date">{{ video.create_at }}</span>
        <p><a href="{% url 'video' video.id %}">{{ video.title }}</a></p>
        <p>{{ video.anons|slice:":100" }}</p>
        <img src="{{ video.image.url }}" alt="">
    {% endfor %}
</body>
</html>